body {
    box-sizing: border-box;
    font-family: "arial";
}

.container {
    padding: 15px 5%;
}

nav {
    display:grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #212529;
    color: white;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.btn-toglge-nav {
    grid-column-start: 3;
    background-color: #fed136;
    padding: 12px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

nav a img {
    width: 140px;
    height: 24px;
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: none;
}

nav li{
    padding: 8px 0;
}

nav li a {
    text-decoration: none;
    color:white;
}
nav li a:hover {
    color:  #fed136;
}

header {
    padding: 168px 0px 96px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-image: url(../assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.sub-heading {
    font-size: 25px;
    font-style: italic;
    font-family: "arial";
    line-height: 25px;
    margin-bottom: 25px;
}

.main-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 45px;
}

.primary-btn {
    padding: 20px 30px;
    background-color:#fed136;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

section {
    padding: 6rem 5% ; 
    text-align: center;
}

.services-row {
    display: grid;
    grid-template-columns: 100%;
}

.page-head h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #212529;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.page-head h3 {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
    color: #6c757d 
}

.ico-container {
    padding:23px;
    width: 55px;
    height: 55px;
    background-image: url(../assets/img/circle-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}
.services-row .fas{
    font-size: 50px;
    color: white;
}

.services-row h4 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #212529;
}

.services-row p {
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #6c757d;
}

.portfolio-page  {
    background-color: #f8f9fa;
}

.portfolio-item {
    background-color: white;
    width: 300px;
    margin: auto;
    margin-bottom: 1.5rem;
}

.portfolio-link {
    width: 300px;
    position: relative;
}

.portfolio-link img {
    max-width: 100%;
}

.portfolio-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(254, 209, 54, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
    font-size:80px ;
    color: white;
}

.portfolio-caption {
    padding: 1.5rem;
    text-align: center;
}

.portfolio-caption h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.portfolio-caption p {
   font-style: italic;
   font-family: serif;
   color: #6c757d ;
   font-size: 1.1rem;
   margin: 0;
   line-height: 1.5;

}

.portfolio-link:hover .portfolio-hover{
    opacity: 1;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.timeline > li {
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline-img  {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius:50%;
    background-color: #fed136;
}

.timeline-text {
    position: relative;
    padding: 0 20px 0 115px;
    text-align: left;
}

.timeline-heading h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.5;
}

.timeline-heading .subheading {
    line-height: 1;
}

.timeline-body p {
    color: #6c757d;
    line-height: 1.75;
}

.timeline-img h4 {
    font-size: 12px;
    line-height: 14px;
    padding-top: 4px;
    text-align: center;
    font-weight: 700;
}

.team-page {
    background-color: #f8f9fa;
}

.member {
    margin-bottom: 3rem;
}

.member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.member h4 {
    font-size: 1.5rem;
    line-height: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.member p {
    line-height: 1.75;
    margin-bottom: 1rem;
    margin-top:0.3rem ;
    color: #6c757d ;
    font-family: serif;
    font-size: 1.1rem;
}

.media div {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #343a40;
    border-radius: 50%;
    border-color: #343a40;
    margin: 0 4px;
}

.media a {
    text-align: center;
    color: white;
}

.media .fab {
    padding-top: 0.8rem;
}

.team-describe p {
    line-height: 1.7rem;
    color: #6c757d ;
}